@import "../bourbon/app/assets/stylesheets/bourbon";

// Ajustes
:root {
  --color-gray: #7f8998;
  --color-negro: #000000;
}

// Mixin
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {
  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
// Display Flex
@mixin displayFlex($disp, $direc, $justify, $items, $wrp) {
  @include display($disp); @include flex-direction($direc); @include justify-content($justify); @include align-items($items); @include flex-wrap($wrp);
}

// Body styles
.nutriconCt {
  width: 100%; height: auto; padding: 0% 6%; margin: 0; position: relative; box-sizing: border-box;
  &.noPadd {
    padding: 0;
  }
  &__box {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box;
    &:hover {
      & .nutriconCt__img {
        & .imgCircle {
          visibility: visible; opacity: 1;
        }
        & .imgIcon {
          @include transform(scale(0.85));
        }
      }
      & .nutriconCt__desc {
        visibility: hidden; opacity: 0; @include transform(translateY(-20px));
      }
    }
  }
  &__img {
    width: 130px; height: auto; padding: 20px 0; margin: 0 auto 0; position: relative; box-sizing: border-box;
    & .imgIcon {
      width: 100%!important; height: auto!important; padding: 0; margin: 0; display: block; @include transform(scale(1.0)); @include transition(transform 300ms ease-in-out);
    }
    & .imgCircle {
      width: 150px!important; max-width: inherit!important; height: auto!important; padding: 0; margin: 0; display: block; @include position(absolute, 4px null null -11px); visibility: hidden; opacity: 0; @include transition(visibility 0s, opacity 300ms ease-in-out);
    }
    & .linkBox {
      width: 100%; height: 100%; @include position(absolute, 0 null null 0); text-indent: -9999px; font-size: 0; opacity: 0;
    }
  }
  &__desc {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; visibility: visible; opacity: 1; @include transform(translateY(0)); @include transition(visibility 0s, opacity 250ms ease-in-out, transform 300ms ease);
    & .titleBoxCt {
      font-weight: 400; @include fluid-type(14px, 17px, 320px, 1200px); padding: 0; margin: 0; text-align: center; color: var(--color-gray); letter-spacing: 0; line-height: 1.2;
    }
    @media all and (min-width: 768px) {
      & .titleBoxCt {
        letter-spacing: 2px;
      }
    }
  }
}

.nutriBox {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; display: flex; align-items: flex-start; justify-content: center; flex-direction: column;
  @media all and (min-width: 992px) {
    flex-direction: row; justify-content: flex-start;
  }
  &__box {
    flex: 0 1 auto; margin: 0 0 20px; padding: 0; position: relative;
    & img {
      display: block; width: 100%!important; min-width: 240px!important; height: auto!important; margin: 0 auto; padding: 0;
    }
    & a {
      @include position(absolute, 0 null null 0); width: 100%; height: 100%; font-size: 0; text-indent: -9999px; text-decoration: none; z-index: 1;
    }
    @media all and (min-width: 992px) {
      margin: 0 15px 0 0;
    }
  }
  &__desc {
    flex: 1 1 auto;
    & .titleNutDesc {
      @include fluid-type(14px, 16px, 320px, 1200px); text-transform: uppercase; margin: 0 0 15px; padding: 0; text-align: left;
    }
    & p {
      @include fluid-type(12px, 14px, 320px, 1200px); margin: 0 0 10px; padding: 0; text-align: left; color: var(--color-negro)!important;
    }
    & .btnNutri {
      display: inline-block; color: rgb(93, 180, 228); background-color: transparent; border-radius: 5px; margin-bottom: 0;
      text-align: center; vertical-align: middle; cursor: pointer; background-color: transparent; border: 2px solid rgb(93, 180, 228); box-sizing: border-box; word-wrap: break-word; user-select: none; text-decoration: none; position: relative; top: 0; @include transition(all .2s ease-in-out); line-height: normal; box-shadow: none; font-size: 14px; @include padding(14px 20px 14px 20px); text-transform: uppercase;
      &:hover {
        background-color: rgb(93, 180, 228); color: white;
      }
    }
    @media all and (min-width: 992px) {
      & p {
        margin: 0 0 20px;
      }
    }
  }
}