@import "../bourbon/app/assets/stylesheets/bourbon";

// Ajustes
:root {
  --color-gray: #7f8998;
  --color-negro: #000000;
  --color-azul-claro: #def5f8;
  --color-azul-obscuro: #00C1DE;
  --color-text-doc: #005E85;
  --color-gris-divider: #808080;
  --color-gris-text: #4D4D4D;
  // categorias
  --dan-main: #0071BA;
  --dan-naranja: #FF6B00;
  --dan-rosa: #ED98A8;
  --dan-amarillo: #FFA400;
  --dan-cafe: #8A803C;
  --dan-azul: #5CBCB7;
  --dan-verde: #92BC1E;
  --dan-salmon: #EA6852;
}

// Mixin
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {
  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
// Display Flex
@mixin displayFlex($disp, $direc, $justify, $items, $wrp) {
  @include display($disp); @include flex-direction($direc); @include justify-content($justify); @include align-items($items); @include flex-wrap($wrp);
}

// Body styles
.nutriconCt {
  width: 100%; height: auto; padding: 0% 6%; margin: 0; position: relative; box-sizing: border-box;
  &.noPadd {
    padding: 0;
  }
  &__box {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box;
    &:hover {
      & .nutriconCt__img {
        & .imgCircle {
          visibility: visible; opacity: 1;
        }
        & .imgIcon {
          @include transform(scale(0.85));
        }
        &.iconMaterno {
          & svg {
            fill: var(--dan-rosa);
          }
        }
        &.iconNutInf {
          & svg {
            fill: var(--dan-naranja);
          }
        }
        &.iconNutri {
          & svg {
            fill: var(--dan-amarillo);
          }
        }
        &.iconEnveje {
          & svg {
            fill: var(--dan-cafe);
          }
        }
        &.iconHidra {
          & svg {
            fill: var(--dan-azul);
          }
        }
        &.iconDie {
          & svg {
            fill: var(--dan-verde);
          }
        }
        &.iconDiges {
          & svg {
            fill: var(--dan-salmon);
          }
        }
      }
      & .nutriconCt__desc {
        visibility: hidden; opacity: 0; @include transform(translateY(-20px));
      }
    }
  }
  &__img {
    width: 130px; height: auto; padding: 20px 0 40px; margin: 0 auto 0; position: relative; box-sizing: border-box;
    & .imgIcon {
      width: 100%!important; height: auto!important; padding: 0; margin: 0; display: block; @include transform(scale(1.0)); @include transition(transform 300ms ease-in-out);
    }
    & svg {
      width: auto!important; height: 80px!important; padding: 0; margin: 0 auto; display: block; @include transform(scale(1.0)); @include transition(transform 300ms ease-in-out); fill: var(--dan-main);
    }
    & .imgCircle {
      width: 150px!important; max-width: inherit!important; height: auto!important; padding: 0; margin: 0; display: block; @include position(absolute, -14px null null -11px); visibility: hidden; opacity: 0; @include transition(visibility 0s, opacity 300ms ease-in-out);
    }
    & .linkBox {
      width: 100%; height: 100%; @include position(absolute, 0 null null 0); text-indent: -9999px; font-size: 0; opacity: 0;
    }
  }
  &__desc {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; visibility: visible; opacity: 1; @include transform(translateY(0)); @include transition(visibility 0s, opacity 250ms ease-in-out, transform 300ms ease);
    & .titleBoxCt {
      font-weight: 400; @include fluid-type(14px, 17px, 320px, 1200px); padding: 0; margin: 0; text-align: center; color: var(--color-gray); letter-spacing: 0; line-height: 1.2;
    }
    @media all and (min-width: 768px) {
      & .titleBoxCt {
        letter-spacing: 2px;
      }
    }
  }
}

.nutriBox {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; display: flex; align-items: flex-start; justify-content: center; flex-direction: column;
  @media all and (min-width: 992px) {
    flex-direction: row; justify-content: flex-start;
  }
  &__box {
    flex: 0 1 auto; margin: 0 0 20px; padding: 0; position: relative;
    & img {
      display: block; width: 100%!important; min-width: 240px!important; height: auto!important; margin: 0 auto; padding: 0;
    }
    & a {
      @include position(absolute, 0 null null 0); width: 100%; height: 100%; font-size: 0; text-indent: -9999px; text-decoration: none; z-index: 1;
    }
    @media all and (min-width: 992px) {
      margin: 0 15px 0 0;
    }
  }
  &__desc {
    flex: 1 1 auto;
    & .titleNutDesc {
      @include fluid-type(14px, 16px, 320px, 1200px); text-transform: uppercase; margin: 0 0 15px; padding: 0; text-align: left;
    }
    & p {
      @include fluid-type(12px, 14px, 320px, 1200px); margin: 0 0 10px; padding: 0; text-align: left; color: var(--color-negro)!important;
    }
    & .btnNutri {
      display: inline-block; color: rgb(93, 180, 228); background-color: transparent; border-radius: 5px; margin-bottom: 0;
      text-align: center; vertical-align: middle; cursor: pointer; background-color: transparent; border: 2px solid rgb(93, 180, 228); box-sizing: border-box; word-wrap: break-word; user-select: none; text-decoration: none; position: relative; top: 0; @include transition(all .2s ease-in-out); line-height: normal; box-shadow: none; font-size: 14px; @include padding(14px 20px 14px 20px); text-transform: uppercase;
      &:hover {
        background-color: rgb(93, 180, 228); color: white;
      }
    }
    @media all and (min-width: 992px) {
      & p {
        margin: 0 0 20px;
      }
    }
  }
}

.empCt {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box;
  &__box {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; overflow: hidden; border-radius: 40px; background-color: var(--color-azul-claro);
  }
  &__img {
    width: 200px; height: 200px; padding: 0; margin: 30px auto 20px; position: relative; overflow: hidden; border-radius: 50%; box-sizing: border-box;
    & img {
      cursor: none!important; border-radius: 0!important; width: 100%!important; height: 100%!important; margin: 0; padding: 0; display: block; border: none; object-fit: cover; font-family: "object-fit: cover";
    }
  }
  &__title {
    width: 100%; height: auto; padding: 0 40px; margin: 0; position: relative; box-sizing: border-box;
    & .nameEmp {
      color: var(--color-text-doc); text-transform: uppercase; margin: 0 0 10px; padding: 0; line-height: 1.2; @include fluid-type(16px, 22px, 320px, 1200px); font-weight: 500; text-align: center;
    }
    & .nameEmpTrab {
      color: var(--color-text-doc); text-transform: uppercase; margin: 0; padding: 0; line-height: 1.2; @include fluid-type(14px, 18px, 320px, 1200px); text-align: center;
    }
    & hr {
      margin: 20px auto 20px; background-color: var(--color-gris-divider);
    }
  }
  &__desc {
    width: 100%; height: auto; padding: 0 40px; margin: 0 0 20px; position: relative; box-sizing: border-box;
    & p {
      color: var(--color-gris-text); margin: 0; padding: 0; text-align: left; @include fluid-type(12px, 14px, 320px, 1200px); line-height: 1.4;
    }
  }
  &__link {
    width: 100%; height: auto; padding: 0 40px; margin: 0 0 10px; position: relative; box-sizing: border-box; text-align: center;
  }
  &__btn {
    display: block; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; width: 200px; height: 35px; line-height: 35px; border: none!important; text-align: center; outline: none!important; margin: 0 auto; padding: 0;
  }
  &__footer {
    width: 100%; height: auto; padding: 15px 40px; margin: 0; position: relative; box-sizing: border-box; background-color: var(--color-azul-obscuro);
    & img {
      width: 100%!important; max-width: 150px!important; height: auto!important; padding: 0; margin: 0 auto; display: block; border: none; cursor: none!important;
    }
  }
}
.cardTrab {
  &:after {
    content: ''; width: 100%; height: 100px; z-index: 2; @include position(absolute, null null 0 0); background: rgb(222, 245, 248);
    background: linear-gradient(0deg, rgb(222, 245, 248) 0%, rgba(222, 245, 248, 0) 100%); @include transition(height 300ms ease);
  }
  &.active {
    &:after {
      height: 0!important; @include transition(height 300ms ease);
    }
  }
}
.hideContent {
  padding: 0!important; margin: 0!important;display: none!important;
}
.page-id-3 {
  & .the_content_wrapper  {
    padding: 40px 0; @include box-sizing(border-box);
  }
}
// === Pop up cookies
#cookie-law-info-bar {
  padding: 20px 30px!important; @include box-sizing(border-box);
  & .cli-bar-container {
    flex-direction: column;
  }
  & .cli-bar-message {
    width: 100%!important; text-align: center; margin-bottom: 20px!important;
  }
  & .cli-bar-btn_container {
    margin: 0!important; width: 100%; justify-content: center;
  }
}
.text-Books {
  padding: 0 20px; box-sizing: border-box;
  & p {
    font-size: 13px;
  }
  @media all and (min-width: 768px) {
    padding: 0 50px;
    & p {
      font-size: 15px;
    }
  }
}
.btnDownload {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; text-align: center;
  & a {
    display: inline-block; color: rgb(93, 180, 228); background-color: transparent; border-radius: 5px; margin-bottom: 0; text-align: center; vertical-align: middle; cursor: pointer; background-color: transparent; border: 2px solid rgb(93, 180, 228); box-sizing: border-box; word-wrap: break-word; user-select: none; text-decoration: none; position: relative; top: 0; @include transition(all .2s ease-in-out); line-height: normal; box-shadow: none; font-size: 14px; @include padding(14px 20px 14px 20px); text-transform: uppercase;
    &:hover {
      background-color: rgb(93, 180, 228); color: white;
    }
  }
}